body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: white;
  /* i judt made the background a little lighter so it is easier to read */
  color: black;
  /* i also made the text darker */
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
  /* i added auto heigt so that the image would scale to the container width that is set */
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background-color: black;
  /* i added a background colour for the nav so it stands out more */
}

.main-nav ul li {
  flex: 1;
  text-align: center;
}

.main-nav ul li a {
  display: block;
  color: white;
  /* i made the next lighter so you can see it against the background */
  text-decoration: none;
  font-size: 1.25rem;
  padding: 1rem;
  /* i also added some padding to make it look cleaner */
}

.skip-link{
  position: absolute;
  top: -40px;
  left: 0%;
  background: black;
  color: white;
  padding: 0.5rem 1rem;
  z-index: 100;
  display: block;

}

.skip-link:focus{
  top: 0;
  position: relative;
  outline: 3px solid yellow;
  /* added outline */

}


form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid gray;
  font-size: 1rem;
  /* just added a border to it and changed font size */
}

form textarea {
  /* got rid of min and max height */
  /* min-height: 150px; */
  /* max-height: 150px; */
  height: 150px;
  resize: none;
}

form button {
  background-color: black;
  color: white;
  border: none;
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.2s;
}
/* made the form button styled to be more interactive */

form button:hover, form-button:focus{
  background-color: gray;
  outline: 3px solid yellow;
}
/* added colour chnage for when you hover over the form button */


/* this is for the pacing of the sections */
#products,#studio,#reservations{
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
}




.site-footer {
  padding: 2rem 0;
  text-align: center;
  background-color: black;
  color: white;
  /* just made the footer center and changed the background and font colour */
}